@import "utf-8";
body, header, div, footer {
  padding: 0px;
  margin: 0px;
}
body {
  font: bold 24px arial;
}
.container {
  margin: 0 auto;
  font: bold 30px black;
}
/* margin: 0 auto; 넣을때 주의점!! 꼭 width값 있어야함 그래서 헤더의 container/
div의 container / 푸터의 container 전부 width 값 넣어줌!! 
하나라도 빠지면 안됨...   */

/* header  */
header {
  background-color: rgb(255,255,1);
  height: 100px;
  width: 100%;
}
header .container {
  background-color: rgb(254,165,0);
  width: 1000px;
  height: 100px;
  text-indent: 50px;
}
/* contents  */
.contents .container {
  width: 1000px;
  height:500px;
  text-align: center;
}
.contents .container .contents__left {
  background-color: rgb(153,255,255);
  width:250px;
  height:500px;
  float: left;
}
.contents .container .contents__right {
  background-color: rgb(51,153,254);
  width: 740px;
  height:500px;
  float: right;
  padding-left: 0 10px;
}
/* footer  */
footer {
  background-color: rgb(0,128,1);
  height: 100px;
  width: 100%;
}
footer .container {
  background-color: rgb(204,255,154);
  width: 1000px;
  height: 100px;
  text-indent: 50px;
}
