@import "utf-8";
* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  justify-content: center;
}
/* display flex 했는데 이 대신에 #wrap에 margin:auto; 를 넣는 방식으로 중앙배열할수있음 */
#wrap {
  background-color: blueviolet;
  width: 1000px;
  padding:10px;
}
header {
  height: 100px;
  background-color: yellow;
}
#con_left {
  background-color: thistle;
  width: 20%;
  height: 500px;
  float: left;
}
#con_right {
  background-color: violet;
  height: 500px;
  width: 80%;
  float: right;
}
footer {
  background-color: yellow;
  width: 100%;
  height: 100px;
  clear: both;
}