@charset "utf-8";

/* reset */
body,h1,table,tr,td,th,caption,thead,tbody,tfoot{
	margin:0;padding:0;
}
body{
	font-size:12px;
	font-family:'돋움',arial;
	color:#000;
}
h1{
	text-align:center;margin:30px 0;
}
table{margin:0 auto 50px;}


/* 수업 시간표 1 */
#t1{width:600px;}
#t1,#t1 tr th,#t1 tr td{
	border:1px solid #000;
	border-spacing:0;  /*테두리 사이 여백 없애기*/
	border-collapse:collapse; /*테두리 합치기*/
}
#t1 caption{
	color:red;text-align:left;margin-bottom:10px;
}
#t1 tr th{
	width:200px;height:40px;background-color: #fc0;
}
#t1 tr td{
	height:40px;background-color: #ff9;text-align:center;
}

/* 수업시간표2 */
#t2{width:600px;}
#t2,#t2 tr th,#t2 tr td{
	border:1px solid #000;
	border-spacing:0;
	border-collapse:collapse;
}
#t2 caption{padding-bottom:10px;}
#t2 tr th{width:200px;height:40px;}
#t2 tr td{height:40px;text-align:center;}
#t2 .bg1{background-color: #f90;}
#t2 .bg2{background-color: #cf9;}

/* 회원가입표 */
#t3{width:600px;}
#t3,#t3 tr th,#t3 tr td{
	border:1px solid #000;	
	border-left:none;border-right:none;
	border-spacing:0;
	border-collapse:collapse;
}
#t3 caption{
	text-align:left;font-weight:bold;color:red;
	line-height:30px;
}
#t3 tr th{
	width:170px;height:40px;padding-left:30px;
	background-color: #fc0;
	text-align:left;
}
#t3 tr th.icon{
	background:#fc0 url(../image/icon.gif) no-repeat 10px center;
}
#t3 tr td{background-color: #ff9;}


/* 학기당 성적표 */
#t4{width:600px;}
#t4,#t4 tr th,#t4 tr td{
	border:1px solid #000;
	border-spacing:0;
	border-collapse:collapse;
}
#t4 caption{
	text-align:right;color:red;margin-bottom:10px;
}
#t4 tr th{width:200px;height:40px;}
#t4 tr td{height:40px;text-align:center;}

#t4 thead{background-color:#fc0;}
#t4 tfoot{background-color:#f60}

/* #t4 tbody tr:nth-child(2),
#t4 tbody tr:nth-child(4),
#t4 tbody tr:nth-child(6){background-color: #ff9;} */

#t4 tbody tr:nth-child(even){background-color: #ff9;}
#t4 tbody tr:nth-child(odd){color:red;}
